{% extends 'admin/base_admin.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="container">
      <h4 class="text-center mb-3 text-secondary mt-4">Detalle del pago</h4>
      <div class="d-md-flex gap-3">
        <div class="col-md-4 card p-4">
          <ul class="list-unstyled">
            <li>
              Usuario:<p class="text-muted">{{ detalle.usuario }}</p>
            </li>
            <li>
              Método de pago:<p class="text-muted">{{ detalle.metodo_pago }}</p>
            </li>
            <li>
              Cantidad a pagar:<p class="text-muted">{{ detalle.cantidad_pagada }}</p>
            </li>
          </ul>
          <small>Si el pago es válido, los estados debe cambiar a 'Aprobado'.</small>
          <small>Si el pago es inválido, los estados debe cambiar a 'Rechazado'.</small>
        </div>
        <div class="col-md-8 card p-4">
          <form action="{% url 'detalle_pagos_admin' detalle.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              <div class="col-12 mb-3">{{ field.label_tag }}
                {{ field }}</div>
            {% endfor %}
            {% comment %} {% if form.errors %}
              <ul class="d-flex flex-column list-unstyled">
                {% for field_errors in form.errors.values %}
                  {% for error in field_errors %}
                    <small><i class="fa-solid fa-circle-exclamation" style="color: #c60c0c;"></i> {{ error }}</small>
                  {% endfor %}
                {% endfor %}
              </ul>
            {% endif %} {% endcomment %}
            <div class="text-center">
              <button type="submit" class="btn btn-warning col-3 mx-3" class="">Modificar <i class="fa-regular fa-pen-to-square"></i></button>
              <a href="{% url 'lista_pagos' %}" class="btn btn-secondary col-3 rounded-0" class="">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
