<footer class="bg_footer text-center text-light">
  <section class="">
    <div class="container d-flex justify-content-center justify-content-sm-start mt-5">
      <div class="row mt-3">
        <div class="col-md-6 col-xl-5 mx-auto">
          <h6 class="text-uppercase fw-bold mb-4">Software</h6>
          <p>Gadgets Future es una plataforma de comercio electrónico diseñada para ofrecer una amplia variedad de Gadgets y dispositivos electrónicos de última generación. Nuestro software proporciona una experiencia de compra en línea intuitiva y conveniente, permitiendo a los usuarios explorar y adquirir una amplia gama de productos tecnológicos desde la comodidad de sus hogares.</p>
        </div>
        <div class="col-md-6 col-xl-2 mx-auto">
          <h6 class="text-uppercase fw-bold mb-4">AYUDA</h6>
          <p>
            <a href="{% url 'sobre_nosotros' %}" class="text-reset">Sobre nosotros</a>
          </p>
          <p>
            <a href="{% url 'politicas_privacidad' %}" class="text-reset">Políticas de privacidad</a>
          </p>
          <p>
            <a href="{% url 'metodo_pago' %}" class="text-reset">Método de pago</a>
          </p>
          <p>
            <a href="{% url 'terminos_condiciones' %}" class="text-reset">Términos y condiciones</a>
          </p>
        </div>
        <div class="col-md-6 col-xl-2 mx-auto">
          <h6 class="text-uppercase fw-bold mb-4">Tienda</h6>
          <p>
            <a href="{% url 'index' %}" class="text-reset">Inicio</a>
          </p>
          <p>
            <a href="{% url 'inicio_sesion' %}" class="text-reset">Iniciar sesión</a>
          </p>
          <p>
            <a href="{% url 'registrarse' %}" class="text-reset">Registrarse</a>
          </p>
          <p>            
            <a href="{% url 'manuales' %}" class="text-reset">Manuales</a>
          </p>
        </div>
        <div class="col-md-6 col-xl-3 mx-auto">
          <h6 class="text-uppercase fw-bold mb-4">Contactos</h6>
          <p class="">
            <i class="fa-solid fa-location-dot fa-lg"></i> Neiva, Calle #4
          </p>
          <p class="">
            <i class="fa-regular fa-envelope fa-lg"></i> gadgetsfuture09@gmail.com
          </p>
          <p class="">
            <i class="fa-solid fa-phone fa-lg"></i> (57) 5555-5555
          </p>
          <a href="https://web.whatsapp.com/" class="mx-2"><i class="fa-brands fa-whatsapp fa-xl" style="color: #ffffff;"></i></a>
          <a href="https://www.youtube.com/" class="mx-2"><i class="fa-brands fa-youtube fa-xl" style="color: #ffffff;"></i></a>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center my-3 fw-bold">
    <hr />
    <span class="">Copyright © 2024</span>
  </div>
</footer>
