{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/historial_compra.css' %}" />
  <section>
    <div class="container">
      <h2 class="text-center my-4">Mis compras</h2>
      {% for venta in ventas %}
      <div class="col-12 cardview">
        <h4>{{venta.fecha}}</h4>
        <hr />
        <div class="d-flex row">
          <div class="col-6 col-lg-2 contenedor-imagen">
            <img class="imagenleft" src="{{venta.producto.imagen.url}}" alt="#" />
          </div>
          <div class="col-6 col-lg-8 textoCard">
            <p style="color: #0dda29">{{venta.pago.estado_pago}}</p>
            <p style="color: #0dda29">{{venta.pago.estado_envio}}</p>            
            <p class="mt-4">{{venta.producto}}</p>
          </div>
          <div class="col-12 col-lg-2 text-center">
            <a  href="{{ venta.producto.get_url_producto }}" class="btn btn-outline-dark mt-3">Volver a compra</a>            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
