{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="container my-4">
      <h2 class="text-center mb-4">Manuales</h2>
      <div class="col-12 row d-flex justify-content-center">
        <div class="col-12 col-md-6">
          <h4 class="text-center mb-3">Manual de instalación</h4>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-3IWXX2elNs?si=nYskUVq9aTXj7Asz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
          </div>
          <div>
            <a href="{% static 'manuales/manual-de-instalacion.pdf' %}" class="fs-5">Clic para decargar en PDF</a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <h4 class="text-center mb-3">Manual de usuario</h4>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ptc4Awb0UpU?si=Vcb2tvGxQ4m7CZOl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div>
            <a href="{% static 'manuales/manual-usuario.pdf' %}" class="fs-5">Clic para decargar en PDF</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
