{% extends 'base.html' %}
{% block content %}
  <section>
    <div class="container my-4">
      <h2 class="text-center mb-3">Método de pago</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Información</button></h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>En Gadgets Future se ofrece a los clientes la opción de pagar mediante transferencia bancaria y Nequi.</p>
              <p>El método de pago por transferencia bancaria permite a los clientes pagar directamente desde su cuenta bancaria a la nuestra, permitiendo transacciones seguras y rápidas sin necesidad de tarjeta de crédito o débito.</p>
              <p>fondos de forma instantánea y segura a través de dispositivos móviles.</p>
              <p>Al ofrecer estos métodos de pago alternativos, ofrecemos a nuestros clientes una experiencia de compra sin complicaciones adaptada a sus preferencias y requisitos individuales.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
