{% extends 'base.html' %}
{% block content %}
  <section>
    <div class="container my-4">
      <h2 class="text-center mb-3">Políticas de privacidad</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Privacidad</button></h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>En Gadgets Future, valoramos y respetamos su privacidad. Esta Política de Privacidad explica cómo recopilamos, utilizamos y protegemos la información personal que usted nos proporciona a través de nuestro sitio web y servicios relacionados. Al utilizar nuestro sitio, usted acepta las prácticas descritas en esta política.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Recopilación de información personal</button></h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Recopilamos información personal que usted nos proporciona voluntariamente cuando utiliza nuestro sitio web, realiza una compra o se comunica con nosotros para obtener información o soporte. La información personal que podemos recopilar incluye, entre otros, su nombre, dirección de correo electrónico, dirección postal, número de teléfono e información de pago.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">Uso de información personal</button></h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Recopilamos información para procesar sus pedidos, responder sus preguntas, brindarle información relevante sobre nuestros productos y servicios, mejorar y personalizar su experiencia de compra y cumplir con nuestras obligaciones legales y reglamentarias. También garantizamos su derecho al habeas data, que le permite visualizar, corregir y eliminar sus datos personales en cualquier momento.</p>
              <br />
              <p>Estamos comprometidos a proteger la seguridad y privacidad de su información personal. Utilizamos medidas de seguridad, técnicas, administrativas y físicas para proteger su información contra acceso no autorizado, divulgación, alteración o destrucción.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">Intercambio de información personal</button></h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>No compartiremos su información personal con terceros sin su consentimiento, excepto cuando sea necesario para procesar su pedido, proporcionar los servicios que haya solicitado, cumplir con requisitos legales o proteger nuestros derechos, propiedad o seguridad.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">Cookies y tecnologías similares</button></h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Utilizamos cookies y tecnologías similares para mejorar la funcionalidad y el rendimiento de nuestro sitio web, analizar nuestro tráfico y personalizar su experiencia de navegación. Puede controlar sus preferencias de cookies a través de la configuración de su navegador.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">Cambios en la política de privacidad</button></h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos cualquier cambio importante a esta Política mediante la publicación de un aviso destacado en nuestro sitio web o por otros medios apropiados.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">Comunicación</button></h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Si tiene alguna pregunta, comentario o inquietud sobre esta Política de Privacidad o nuestras prácticas de privacidad, comuníquese con nosotros utilizando la información de contacto en nuestro sitio web.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
